@import 'theme';

.container {
	margin: 1.15rem;
	background: $overlay-low;
	border-radius: 0.75rem;
	box-shadow: none;
}

.editTextChunk {
	color: $love;
	font-size: 15px;
	line-height: 1.2;
	padding: 1.25rem;
	&:focus {
		outline: none;
	}
}

.submitChanges {
	margin: 0 1rem 1rem 0.75rem;
	color: $surface !important;
	background: $pine;
}

.discardChanges {
	margin: 0 1rem 1rem 0;
	color: $surface !important;
	background: $rose;
}
