@import "theme";

.container {
	margin-top: 1.15rem;
	// margin-bottom: 1.15rem;
	background: $overlay-low;
	border-radius: 0.75rem;
	box-shadow: none;
}

.editTextChunk {
	color: $black;
	font-size: 1rem;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	padding: 1.25rem;
	&:focus {
		outline: none;
	}
}

.actions {
	min-height: 0;
	height: 2rem;
	color: $white !important;
}

.submitChanges {
	margin: -2rem 0 -1rem 0.5rem;
	color: $green !important;
	font-size: 1rem !important;
	opacity: 0.8;
}

.discardChanges {
	margin: -2rem 0 -1rem 0;
	color: $red !important;
	opacity: 0.8;
	font-size: 1rem !important;
}

.feedback {
	width: 7rem !important;
	padding: 0 !important;
	padding-left: 2rem !important;
	margin-right: 0 !important;
	margin-top: -2.75rem;
	margin-bottom: -1.75rem;
}

.like {
	color: $green !important;
	margin: 0 !important;
	opacity: 0.8;
}

.dislike {
	color: $red !important;
	margin: 0 !important;
	opacity: 0.8;
}

@media screen and (max-width: 600px) {
	.editTextChunk {
		padding: 1rem;
	}
}
