@import 'theme';

.container {
	margin: 20px;
	background: $overlay-low;
	border-radius: 0.75rem;
	box-shadow: none;
}

.editTextChunk {
	color: $text;
	font-size: 15px;
	line-height: 1.2;
	padding: 1.25rem;
	&:focus {
		outline: none;
		box-shadow: 0 0 5px 1px #ccc;
	}
}

.submitChanges {
	margin: 10px;
	color: white !important;
}

.discardChanges {
	color: white !important;
}
