@import 'theme';

.translation {
	max-height: 88vh;
	background: $surface;
	margin-top: 60px;
	padding: 2.5rem;
	line-height: 1.2;
	overflow-y: scroll;
	text-align: justify;
	border-radius: 0.75rem;
	color: $text !important;
}

@media screen and (max-width: 600px) {
	.translation {
		padding: 1.25rem;
		font-size: 1rem;
	}
}
