@import "theme";

$textViewerHeight: 88vh;

.textViewer {
	max-height: $textViewerHeight;
	background: $surface;
	padding: 1.5rem;
	border-radius: 0.75rem;
}

.translation {
	overflow-y: auto;
	max-height: calc($textViewerHeight - 8vh) !important;
	color: $text !important;
	text-align: justify;
	line-height: 1.2;
	padding: 1rem;
}

@media screen and (max-width: 600px) {
	.textViewer {
		padding: 0.5rem;
	}
	.translation {
		font-size: 1rem;
	}
}
