// Rosé Pine Dawn theme - https://rosepinetheme.com

$base: #faf3eb;
$surface: #fffbf5;
$overlay-low: #faf5f1;
$overlay-medium: #f2e9e1;
$overlay-high: #f4f0ec;
$muted: #9893a5;
$subtle: #797593;
$text: #585379;
$love: #575279;
$gold: #ea9d34;
$rose: #d7827e;
$pine: #286983;
$foam-low: #eef0ec;
$foam-medium: #cfdedd;
$foam-high: #56949f;
$iris: #907aa9;
$iris-low: #efe9ea;
$highlight-low: #fffcfa;
$highlight-med: #dfdad9;
$highlight-high: #cecacd;


// New theme
$green: #00887a;
$blue: #77a6f7;
$purple: #6c41a2;
$dark-purple: #5b3e87;
$light-purple: #e5dae5;
$light-blue: #d3e3fc;
$gray: #98a6bd;
$black: #111111;
$white: #ffffff;
$red: #f76c6c;
$dark-red: #f7b19f;

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
