// Rosé Pine Dawn theme - https://rosepinetheme.com

$base: #faf3eb;
$surface: #fffbf5;
$overlay-low: #faf5f1;
$overlay-medium: #f2e9e1;
$overlay-high: #f4f0ec;
$muted: #9893a5;
$subtle: #797593;
$text: #585379;
$love: #575279;
$gold: #ea9d34;
$rose: #d7827e;
$pine: #286983;
$foam-low: #eef0ec;
$foam-medium: #cfdedd;
$foam-high: #56949f;
$iris: #907aa9;
$iris-low: #907aa919;
$highlight-low: #f4ede8;
$highlight-med: #dfdad9;
$highlight-high: #cecacd;
